{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}QMath{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <script  src="{% static 'TweenMax.min.js' %}"></script>
    <script src="{% static 'MorphSVGPlugin.js' %}"></script>
    <script  src="{% static 'script.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
