{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock %} 
 
{% block content %}   
    <div class="container" style="background-color: #FFF6E5;">


        <div id="container" class="b-pages">
            {% for image in images %}
            <img class="img" src="{{ image.image.url }}" alt="{{ image.title }}">
            {% endfor %}
            <div class="tools1">
                <a href="{% url 'library' %}"><img src="{% static 'img/mini-lib.svg' %}"></a>
                <button onclick="enableZoom()"><img src="{% static 'img/zoom-in.svg' %}"></button>
                <button onclick="disableZoom()"><img src="{% static 'img/zoom-out.svg' %}"></button>
            </div>
        </div>
    </div>

{% endblock %}
