{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock %} 
 
{% block content %}   
    <div class="container" style="background-image: url(/static/img/profile-back-dark.jpg); overflow: auto;">



        <!-- <div class="back-wood"><span>Кітапхана</span></div> -->

        <div class="books-table">
            <div class="books-row">
                <div class="books-col-name">
                    <h2>{{ classroom.name }}</h2>
                </div>
                <div class="books-col">
                    {% for topic in topics %}
                    <a href="{% url 'book' topic.id %}">
                        <div class="book">
                            <div style="background-image: url('{{ topic.images.first.image.url }}');"></div>
                            <h3 class="book-name">{{ topic.name }}</h3>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- <hr style="margin: auto;border-color: rgba(255,255,255,0.3); width: 110vh;"> -->
        </div>
    </div>

{% endblock %} 
