{% extends 'base.html' %}
{% load static %}
{% block title %}{{ classroom.name }}{% endblock %}

{% block content %}
    <style>
    .label {
        background: #ffcd2c;
        height: 7vh;
        width: 30vh;
        margin-left: 70vh;
        transform: translateX(-50%);
        border-bottom-left-radius: 6vh;
        border-bottom-right-radius: 6vh;
        position: absolute;
        top: 7vh;
    }

    .label h2 {
        font-family: Hombre; 
        font-size: 3.5vh;
        padding: 1rem;
        color: #1265a9;
        text-align: center;
    }
    .container-inner {
            flex: 1;
            padding-top: 16vh;
            display: flex;
            justify-content: center;
            overflow-y: scroll;
    }
    .mycard{
        width: 200px;
        height: 200px;
        margin: 2rem;
        background-image: url('{% static 'images/class2.png' %}'); 
        background-size: cover; 
        background-position: center;
        
    }
    a{
        text-decoration: none;
        color: black;
    }
    .cards-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выравниваем по верху */
    padding-top: 20vh; /* Отступ сверху */
    overflow-y: auto; /* При необходимости добавьте вертикальную прокрутку */
    }

    .cards {
    display: grid;
    grid-template-columns: 15rem 15rem; /* Два столбца по 40vh */
    grid-auto-rows: 15vh; /* Высота строки 40vh, можно менять по необходимости */
    grid-gap: 55vh;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}
    .card_item:nth-child(even) {
        transform: translateY(30vh);
    }
    .card_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    clip-path: polygon(14% 8%, 96% 11%, 97% 89%, 13% 91%);
    
    }
    .card-item_link {
    display: block;
    padding: 30px 20px;
    box-shadow: 0 5px 1px rgb(0, 0, 0, 0.4), inset 3px 5px 1px rgb(255, 255, 255, 0.4);
    overflow: hidden;
    position: relative;
    text-decoration: none;
    height: 20vh;
    
    }
    .card-item_link:hover,
    .card-item_link:hover .card-item_date {
    text-decoration: none;
    color: #FFF;
    }
    .card-item_link:hover .card-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    }
    .card-item_title {
    /* height: 10 vh; */
    margin: -15px -20px 0 0;
    overflow: hidden;
    font-weight: bold;
    font-size: 3vh;
    color: #1265a9;
    z-index: 2;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Максимальное количество строк */
    -webkit-box-orient: vertical;
    padding: 1rem;
    }
    .card-item_date-box, .card-item_classroom{ 
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
    /* margin-top: 2vh; */
    }
    .card-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
    }
    .card-item_classroom{ 
    position: absolute;
    bottom: 10vh;
    top: 14.5vh;
    font-size: 4vh;
    left: 30%;
    color: #ffde5a;
    }
    .card-item_date-box{
        position: absolute;
        bottom: 2vh;
    }
    .card-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    }
    .card_item:nth-child(2n) .card-item_bg {
    background-color: #3ecd5e;
    }
    .card_item:nth-child(3n) .card-item_bg {
    background-color: #e44002;
    }
    .card_item:nth-child(4n) .card-item_bg {
    background-color: #952aff;
    }
    .card_item:nth-child(5n) .card-item_bg {
    background-color: #cd3e94;
    }
    .card_item:nth-child(6n) .card-item_bg {
    background-color: #4c49ea;
    }
    .card-item_title {
    text-align: center; /* Центрируем текст по горизонтали */
    display: flex;
    justify-content: center; /* Центрируем по горизонтали внутри flex-контейнера */
    align-items: center; /* Центрируем по вертикали внутри flex-контейнера */
    height: 100%; /* Устанавливаем высоту элемента, чтобы выравнять по высоте с родительским блоком */
}
    .card_item:nth-child(2n){
        clip-path: polygon(3% 12%, 88% 10%, 87% 93%, 3% 89%);
    }
    .card_item:nth-child(2n) .card-item_title{
        margin: -15px 15px 0 0;
    }

    </style>
    <div class="container" style="display: flex; ">
        <div class="label"><h2>{{ classroom.name }}</h2></div>
        <div class="container-inner" style="background-position: right; background-image: url({% static 'images/path2.png' %}); background-size:cover;">
            
                <div class="cards">
                {% for topic in topics %}
                {% if forloop.counter0|divisibleby:2 %}
                <div class="card_item" style="background-image: url({% static 'images/class3.png' %}); background-size:cover; background-position: center;">
                    {% else %}
                <div class="card_item" style="background-image: url({% static 'images/class4.png' %}); background-size:cover; background-position: center;">
                    {% endif %}
                    <a href="{% url 'topic_tasks' topic.id %}" class="card-item_link">
                      <div class="card-item_bg"></div>
                      <div class="card-item_title">
                        {{ topic.name }}
                      </div>
                    </a>
                  </div>
                  {% endfor %}
                </div>
            </div>
            
    </div>
{% endblock %}