{% extends 'base.html' %} 
{% load static %} 
{% block title %}School{% endblock %} 
 
{% block content %}  

    <div class="container" style="background-image: url({% static 'img/school-back.jpg' %});">
        <div class="container2">
            <div class="wall">
            <a id="current-class" onclick="updateClassAndURL()">
                <div class="classroom-box">
                    <div class="classroom-name"><h3 id="classname" style="font-weight: 500;">{{ classrooms.0.name }}</h3></div>
                </div>
            </a>            
            
            <div class="doors">
                <button id="left-class" class="prev nav-btn" style="width: 6vh;height: 6vh;margin-top: 23vh;" onclick="changeClassroom('previous')">
                    <span>◄</span>
                </button>
                <button id="classLink" class="door" onclick="redirectToClassroom()">                    
                </button>
                <button id="right-class" class="next nav-btn" style="width: 6vh;height: 6vh;margin-top: 23vh;" onclick="changeClassroom('next')">
                    <span>►</span>
                </button>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
{% block extra_scripts %}
<script>
const classroomName = document.querySelector('#classname'); 
let currentClassroomIndex = 0;
const classrooms = [{% for classroom in classrooms %}{ id: {{ classroom.id }}, name: "{{ classroom.name }}" }{% if not forloop.last %},{% endif %}{% endfor %}];
</script> 
{% endblock %} 
