{% extends 'base.html' %} 
{% load static %} 
{% block title %}Home{% endblock %} 
 
{% block content %}   

    <div class="container" style="background-image: url({% static 'img/home-back.jpg' %});">
        <div class="welcome">
            <h2>Қош келдіңіз!</h2>
            <div class="welcome-pfp">
                {% if user.is_authenticated %}
                {% if profile_pic %}
                <div class="pfp"><img src="{{ profile_pic }}"></div>
                {% else %}
                <div class="pfp"><img src="{% static 'img/pfp.png' %}"></div>
                {% endif %}
                <div class="pfp-name"><h3>{{ user.username }}</h3></div>
                {% else %}
                <div class="pfp"><img src="{% static 'img/pfp.png' %}"></div>
                <div class="pfp-name"><h3>Қонақ</h3></div>
                {% endif %}
                
            </div>
            <div class="welcome-text">
                <div class="mini-lib signed" onclick="window.location.href='{% url 'classroom' %}'">
                    <button><img src="{% static 'img/mini-lib.svg' %}" alt="lib-logo">Оқу</button>
                  </div>
                <div class="mini-prof signed" onclick="window.location.href='{% url 'profile' %}'">
                    <button><img src="{% static 'img/mini-prof.svg' %}" alt="prof-logo">Профиль</button>
                  </div>
            </div>
        </div>
        <div class="btn">
            <div class="arrow"><a href="{% url 'classroom' %}" class="link">Кеттік</a></div>
        </div>
    </div>
{% endblock %}
