{% extends 'base.html' %} 
{% load static %} 
{% block title %}Кітапхана{% endblock %} 
 
{% block content %}   
    <div class="container" style="background-image: url(/static/img/profile-back.jpg); overflow: auto;">

        <div class="cards">
            {% for classroom in classrooms %}
            <div class="card">
                <div class="card-in">
                    <div class="card-in-in">
                        <button><a href="{% url 'bookshelf' classroom.id %}">►</a></button>
                        <h2>{{ classroom.name }}</h2>
                        <span>{{ classroom.level }} деңгей</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %} 
