{% extends 'base.html' %} 
{% load static %} 
{% block title %}Task{% endblock %} 
 
{% block content %}   
    <div class="container" style="background-image: url({% static 'img/class-back.jpg' %}); position: relative;">

        <div class="label">
            <a href="{% url 'classroom' %}" style="margin-left: -10vh;">↩</a>
            <a href="{% url 'library' %}" style="margin-left: 2vh;"><img src="{% static 'img/mini-lib.svg' %}"></a>
            <h2 style="color: white; margin-left: 3vh;">Сабақ</h2>
            <div class="lbl-nums">
                {% for task in tasks %}
                <div class="{% if forloop.first %}active{% endif %}"><a href="#">{{ forloop.counter }}</a></div>
                {% endfor %}
            </div>
        </div>

        <div class="tools">
            <button id="pencil" onclick="init()"><img src="{% static 'img/pencil.png' %}"></button>
            <button value="erase" id="clr" onclick="erase()"><img src="{% static 'img/eraser.png' %}"></button>

        </div>
        <div class="board">
            <p class="brd-task-text"></p>
            <div class="brd-task"></div>
            <canvas id="can" width="870" height="450"></canvas>

            <!-- <h1>{{ topic.name }}</h1> -->
            <ul>
                {% for task in tasks %}
                    <li>
                        <h2>{{ task.question }}</h2>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.question_type == 'OQ' %}
                                <label for="user_answer_{{ task.id }}">Your answer:</label>
                                <input type="text" name="user_answer" id="user_answer_{{ task.id }}">
                            {% elif task.question_type == 'MCQ' or task.question_type == 'TF' %}
                                {% if task.choice1 %}
                                    <input type="radio" name="choice" value="{{ task.choice1 }}" id="choice1_{{ task.id }}">
                                    <label for="choice1_{{ task.id }}">{{ task.choice1 }}</label><br>
                                {% endif %}
                                {% if task.choice2 %}
                                    <input type="radio" name="choice" value="{{ task.choice2 }}" id="choice2_{{ task.id }}">
                                    <label for="choice2_{{ task.id }}">{{ task.choice2 }}</label><br>
                                {% endif %}
                                {% if task.choice3 %}
                                    <input type="radio" name="choice" value="{{ task.choice3 }}" id="choice3_{{ task.id }}">
                                    <label for="choice3_{{ task.id }}">{{ task.choice3 }}</label><br>
                                {% endif %}
                                {% if task.choice4 %}
                                    <input type="radio" name="choice" value="{{ task.choice4 }}" id="choice4_{{ task.id }}">
                                    <label for="choice4_{{ task.id }}">{{ task.choice4 }}</label><br>
                                {% endif %}
                            {% else %}
                                <!-- Отображение других типов вопросов -->
                                <!-- Добавьте логику для других типов вопросов -->    
                            {% endif %}
                            <button type="submit">Submit</button>
                        </form>
                        {% if selected_task and selected_task.id == task.id and result %}
                            <p>{{ result }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>







            <div class="brd-tools">
                <button style="margin-left: 17vh;">↺</button>
                <button>↶</button>
                <button>↷</button>
                <button id="submit">Тапсыру</button>
            </div>
        </div>

        <div class="ins-open">
            <button style="font-family: Hombre; font-size: 5.5vh;" onclick="openClsIns()">i</button>
        </div>

        <div id="cls-ins" class=" overlay">
            <div class="overlay-content">
                <div class="outer-ins">
                    <div><a href="javascript:void(0)" class="closebtn" onclick="closeClsIns()" style="font-family: Chelsea+Market;">&times;</a></div>
                    <div class="inner-ins">
                        <h2 style="font-size: 5vh; font-family: Hombre;">? Көмек</h2>
                        <div class="bubble">
                            <p style="font-size: 4vh; font-family: Hombre;">Қош келдіңіз!</p>
                        </div>
                        <img src="{% static 'img/girl.jpg' %}" alt="girl" style="width: 17vh; height: 17vh;">
                        <div class="inst-text-box">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lectus risus, finibus ornare vestibulum et, feugiat quis dui. Vivamus sit amet dolor et magna facilisis rhoncus. 
                                <br>
                                Curabitur maximus est sed porta scelerisque. Sed suscipit, arcu volutpat feugiat posuere, eros nisi tristique nibh, mollis vehicula lectus tortor eu purus. 
                                <br>
                                Donec ut tortor blandit, sagittis diam eget, suscipit eros. Quisque at magna neque. 
                                Nulla faucibus mi at nunc mattis placerat. Pellentesque quis augue quis elit tristique auctor. Integer varius est orci, vel egestas felis dictum nec. 
                                <br>
                                Phasellus porta ex sit amet turpis finibus, sed vestibulum nisl efficitur. 
                                <br>
                                Phasellus feugiat turpis quis mollis lacinia. Sed ac orci et nisi venenatis pharetra ac non arcu.
                            </p>
                        </div>
                    </div>
                        <div class="cls-ins-btn">
                            <button type="button" onclick="location.href='{% url 'library' %}'" style="width: 7vh; height: 7vh;"><img src="{% static 'img/mini-lib.png' %}"></button>
                            <button class="cls-start" onclick="closeClsIns()">Бастау</button>
                        </div>
                </div>
            </div>
        </div>



    </div>

{% endblock %} 

{% block extra_scripts %}
    <script>
    // window.onload = openClsIns;
    </script>
{% endblock %} 
