{% extends 'base.html' %}
{% load static %}
{% block title %}{{ classroom.name }}{% endblock %}

{% block content %}
    <style>
        body {
            overflow: hidden;
        }
        .container {
            background-image: url("{% static 'img/class-back.jpg' %}");
        }

        .tools {
            position:absolute;
            width: 37px;
            height: 12vh;
            background-color: #ffcd2c;
;
            float: left;
            margin-top: 9%;
            margin-left: -98%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 0 2vh 2vh 0;
            box-shadow: 0.8vh 0.8vh 0.1vh rgb(0, 0, 0, 0.4);
            z-index: 3;
        }

        .tools button {
            background-color: transparent;
            border: none;
        }

        .tools img {
            width: 3.5vh;
            height: 3.5vh;
        }

        .board {
            width: 55vh;
            height: 29vh;
            background-color: #0f4343;
            margin-left: -9vh;
            margin-top: 13vh;
            position: fixed;
            /* clip-path: polygon(0% 3%, 100% 3%, 98% 99%, 1% 100%); */
            clip-path: polygon(0 0, 0 0, 0 3%, 100% 3%, 100% 5%, 100% 0%, 98% 100%, 49% 100%, 94% 100%, 5% 100%, 3% 94%, 1% 93%);
            z-index: 1;
        }
        .board:hover{
        }

        .cls-ins-btn button {
            height: 8vh;
            font-size: 3.5vh;
            border-radius: 50vh;
            border-color: #d69b8e;
            background-color: #FFF6E5;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5vh;
        }

        .cls-ins-btn {
            width: 100vh;
            height: 66vh;
            position: fixed;
            display: flex;
            margin-top: 59vh;
            margin-left: 50%;
            transform: translateX(-25%);
        }

        .cls-ins-btn img {
            width: 4vh;
        }

        .label img {
            width: 4vh;
        }

        .label a {
            background-color: transparent;
            border: 0;
            color: white;
            cursor: pointer;
            font-size: 5vh;
            opacity: 0.8;   
            padding: 0;
            text-decoration: none;
        }

        .lbl-nums {
            display: flex;
            width: 25vh;
            justify-content: space-evenly;
            margin-top: 10vh;
        }

        .lbl-nums div{
            width: 3.5vh;
            height: 3.5vh;
            border-radius: 3.5vh;
            background-color: #bdbdbd;
            box-shadow: 0 0.4vh 0.4vh rgb(0, 0, 0, 0.25);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lbl-nums div.active {
            background-color: #24a4ff;
        }

        .lbl-nums a {
            font-size: 3vh;
        }

        .brd-task {
            width: 111vh;
            height: auto;
            background-color: red;
            margin: auto;
            margin-top: 3vh;
        }

        .brd-tools {
            position: fixed;
            display: flex;
            align-items: center;
            margin-top: 57vh;
        }

        .brd-tools button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5vh;
            height: 5vh;
            font-size: 4vh;
            font-weight: 1000;
            background-color: #24a4ff;
            border-radius: 20vh;
            margin-left: 2vh;
        }

        #submit {
            background-color: #FFF6E5;
            width: 25vh;
            height: 8vh;
            margin-left: 8vh;
            border-color: #D69B8E;
        }

        .ins-open {
            width: 6.25vh;
            height: 6.95vh;
            background-color: pink;
            float: right;
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 2vh 0 0 2vh;
            box-shadow: -0.8vh 0.8vh 0.1vh rgb(0, 0, 0, 0.4);
        }

        .ins-open button {
            border: 0;
            background-color: transparent;
        }

        canvas {
            width: 100%;
            height: 100%;
            z-index: 2;
        }


        
        .overlay {
        width: 140.1vh;
        height: 100vh;
        margin-left: 50%; 
        transform: translateX(-50%);
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.5);
    }

    #ins.overlay {
        background-color: rgba(0,0,0, 0.0);
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vh;
        height: 6vh;
        padding: 0;
        right: 0;
        font-size: 7vh;
        background-color: #d9d9d9;
    }

    .outer-ins {
        width: 104vh;
        height: 66vh;
        position: fixed;
        display: flex;
        margin-left: 50%; 
        transform: translateX(-50%);
        top: 17vh;
    }

    .inner-ins {
        background-color: #fff;
        width: 99vh;
        height: 60vh;
        margin-left: 2vh;
        align-self: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1.5vh solid #d9d9d9;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .inner-ins p ,.inner-ins h2  {
        font-family: Hombre;
        font-size: 3vh;
    }

    .inner-ins h3 {
        font-size: 3vh;
        color: white;
    }

    .bubble {
        width: 20vh;
        height: 20vh;
        background-image: url(/static/img/bubble.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inst-text-box {
        width: 65vh;
        height: 45vh;
        overflow-y: scroll;
        text-align: start;
        margin: 2vh;
    }

    .box {
        width: 75vh;
        height: 5vh;
        display: flex;
        align-items: center;
    }

    .in-box {
        width: 40%;
        text-align: end;
    }

    .in-box-two {
        display:flex;
        width: 60%;
        align-items: center;
    }

    .xdirection {
        width: 50%;
        margin-left: 10%;
        color: #BDBDBD;
        --thumb-height: 1.125em;
        --track-height: 0.25em;
        --track-color: rgba(0, 0, 0, 0.2);
        --brightness-hover: 180%;
        --brightness-down: 80%;
        --clip-edges: 0.125em;
        background: #fff0;
        overflow: hidden;
        border-radius: 10vh;

        &:active {
            cursor: grabbing;
        }
    }

    .label {
        background: #ffcd2c;
        height: 11vh;
        width: 30vh;
        margin-left: 70vh;
        transform: translateX(-50%);
        border-bottom-left-radius: 6vh;
        border-bottom-right-radius: 6vh;
        position: absolute;
        top: 9vh;
        z-index: 12;
    }

    .label h2 {
        font-family: Hombre; 
        font-size: 3.5vh;
        padding: 0.5rem;
        color: #1265a9;
        text-align: center;
        z-index: 13;
    }
    .container-inner {
            flex: 1;
            padding-top: 20vh;
            display: flex;
            justify-content: center;
    }
    .b {
        color: white;
        padding-top: 32%;
        z-index: 6;
        position: fixed;
        font-size: 4vh;
        /* align-content: center; */
    }
    .c{
        color: white;
        font-size: 5.5vh;
        height: 13vh;
        position: fixed;
        align-content: center;
    }
    .task {
        display: none;
    }

    .task.active {
        display: block;
    }
    .quiz-card{
        background-color: #1265a9bc;
        width: 100%;
        height: 10vh;
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .task-form{
    margin-top: 35vh;
    background-color: transparent;
    height: auto;
    font-size: 2rem;
    }
    label{
        padding: 1rem;
    }
    .choices{
        display: flex;
        align-items: center;
        background-color: #1265a9;
        justify-content: center;
        border: 5px solid #ffffff;
        border-radius: 1rem;
    }
    .choices.red {
        background-color: #f66464; /* Красный цвет */
    }

    .choices.blue {
        background-color: #7095b7; /* Синий цвет */
    }

    .choices.green {
        background-color: #55b355; /* Зеленый цвет */
    }
    .col-md-6{
        margin: 1rem;
    }
    .row{
        width: 50%;
        
    }
    .rows{
        display: flex;
        width: 100%;
    }
    .btn{
        background-color: #ffcd2c;
        padding: 1rem;
        border: none;
        font-size: 2rem;
        border-radius: 1rem;
    }
    .selected {
        border: 5px solid #ffcd2c; /* Пример стиля рамки */
    }
    input{
        display: none;
    }
    label{
        color: #ffcd2c;
    }
    .choices:hover{
        transform: scale(1.05);
    }
    .result{
    position: absolute;
    left: 45%;
    top: 55%;
    z-index: 12;
    color: white;
    font-size: 3rem;
    }
    </style>

</head>
<body>
    <div class="container" style="display: flex; ">

        <div class="label" style="">
            <!-- <a href="{% url 'classroom' %}" style="margin-left: -10vh;">↩</a>
            <a href="{% url 'library' %}" style="margin-left: 2vh;"><img src="{% static 'img/mini-lib.svg' %}"></a> -->
            <a href="{% url 'library' %}" style="text-decoration: none;"><h2 style="">Сабақ</h2></a>
            <div class="lbl-nums" style="margin: auto;">
                {% for task in tasks %}
                <div class="task-link {% if forloop.first %}active{% endif %}" data-task-id="{{ task.id }}">
                    <a href="#">{{ forloop.counter }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-inner">
            <div class="task-content" style="width: 100%;">
                {% for task in tasks %}
                <li class="task {% if forloop.first %}active{% endif %}" data-task-id="{{ task.id }}">
                    <div class="quiz-card">
                    <h3 style="color: #ffcd2c;">{{ task.question }}</h3>
                    </div>
                    <div class="result">
                        <p id="result-{{ task.id }}"></p>
                        </div>
                    {% if task.question_type == 'MCQ' %}
                    <form id="form-{{ task.id }}" class="task-form">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <div class="rows">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="choices" onclick="handleChoice(this)">
                                    <input type="radio" id="choice1-{{ task.id }}" name="choice" value="choice1">
                                    <label for="choice1-{{ task.id }}">{{ task.choice1 }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choices red" onclick="handleChoice(this)">
                                    <input type="radio" id="choice2-{{ task.id }}" name="choice" value="choice2">
                                    <label for="choice1-{{ task.id }}">{{ task.choice2 }}</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="choices blue" onclick="handleChoice(this)">
                                    <input type="radio" id="choice3-{{ task.id }}" name="choice" value="choice3">
                                    <label for="choice1-{{ task.id }}">{{ task.choice3 }}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="choices green" onclick="handleChoice(this)">
                                    <input type="radio" id="choice4-{{ task.id }}" name="choice" value="choice4">
                                    <label for="choice1-{{ task.id }}">{{ task.choice4 }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button type="button" onclick="submitAnswer({{ task.id }})" class="btn btn-primary" style="position: unset;">Тексеру</button>
                    </form>
                    
                    {% elif task.question_type == 'OQ' %}
                    <form id="form-{{ task.id }}" class="task-form">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <input type="text" name="user_answer">
                        <button type="button" onclick="submitAnswer({{ task.id }})">Тексеру</button>
                    </form>
                    {% endif %}
                </li>
            {% endfor %}
            </div>

            <div class="tools">
                <button id="pencil" onclick="init()"><img src="{% static 'img/pencil.png' %}"></button>
                <button value="erase" id="clr" onclick="erase()"><img src="{% static 'img/eraser.png' %}"></button>
    
            </div>
            <div class="board" style="z-index: 0;">
                <canvas id="can" width="430" height="228"></canvas>
            </div>

  
        </div>
    </div>
    <script>
        function handleChoice(divElement) {
            // Находим связанный с div input
            var radioInput = divElement.querySelector('input[type=radio]');
            
            // Проверяем, не выбран ли уже этот input
            if (!radioInput.checked) {
                // Сбрасываем выбор всех radio в текущей группе
                var radioGroupName = radioInput.name;
                var radioInputs = document.querySelectorAll('input[name=' + radioGroupName + ']');
                radioInputs.forEach(function(input) {
                    input.checked = false;
                });
    
                // Выбираем текущий input
                radioInput.checked = true;
    
                // Добавляем класс 'selected' к div
                divElement.classList.add('selected');
                
                // Убираем класс 'selected' у остальных div
                var allChoices = document.querySelectorAll('.choices');
                allChoices.forEach(function(choice) {
                    if (choice !== divElement) {
                        choice.classList.remove('selected');
                    }
                });
            }
        }
    </script>
    
    <script>
        function submitAnswer(taskId) {
            var form = document.getElementById('form-' + taskId);
            var formData = new FormData(form);
        
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit_answer/', true);
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var resultElement = document.getElementById('result-' + taskId);
                    resultElement.textContent = response.result;
                } else {
                    console.error('Error submitting answer.');
                }
            };
        
            xhr.onerror = function () {
                console.error('Error submitting answer.');
            };
        
            xhr.send(formData);
        }
        </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const taskLinks = document.querySelectorAll('.lbl-nums div');
            const tasks = document.querySelectorAll('.task');
            let currentTaskId = null;
        
            taskLinks.forEach(link => {
                link.addEventListener('click', function() {
                    console.log('Clicked task link:', this);
        
                    // Получаем ID текущей активной задачи
                    if (currentTaskId === null) {
                        // Если текущая задача еще не выбрана, берем ID из первой задачи
                        currentTaskId = tasks[0].getAttribute('data-task-id');
                    }
        
                    // Устанавливаем taskId для новой выбранной задачи
                    const taskId = this.getAttribute('data-task-id');
                    console.log('Task ID:', taskId);
        
                    // Удалить класс 'active' у всех ссылок
                    taskLinks.forEach(l => l.classList.remove('active'));
                    tasks.forEach(l => l.classList.remove('active'));
                    // Добавить класс 'active' к текущей ссылке
                    this.classList.add('active');
        
                    // Показать только выбранную задачу
                    tasks.forEach(task => {
                        const taskDataId = task.getAttribute('data-task-id');
                        if (taskDataId === taskId) {
                            task.classList.add('active');
                        } else {
                            task.classList.remove('active');
                        }
                    });
        
                    // Обновляем текущий taskId
                    currentTaskId = taskId;
                });
            });
        
            // Показать первую задачу по умолчанию
            if (taskLinks.length > 0) {
                taskLinks[0].click();
            }
        });
        </script>
        
    <script>
        var canvas, ctx, flag = false,
            prevX = 0,
            currX = 0,
            prevY = 0,
            currY = 0,
            dot_flag = false;
    
        var selectedColor = "white";
        var selectedLineWidth = 3;
        var pencilActive = false;
    
        function init() {
            if (pencilActive) {
                canvas.removeEventListener("mousemove", findxy);
                canvas.removeEventListener("mousedown", findxy);
                canvas.removeEventListener("mouseup", findxy);
                canvas.removeEventListener("mouseout", findxy);
                pencilActive = false;
            } else {
                canvas = document.getElementById('can');
                ctx = canvas.getContext("2d");
                w = canvas.width;
                h = canvas.height;
                ctx.lineCap = "round"
    
                canvas.addEventListener("mousemove", findxy);
                canvas.addEventListener("mousedown", findxy);
                canvas.addEventListener("mouseup", findxy);
                canvas.addEventListener("mouseout", findxy);
                pencilActive = true;
            }
        }
    
        function color(obj) {
            selectedColor = obj.style.backgroundColor;
        }
    
        function line(obj) {
            switch (obj.id) {
                case "two":
                    selectedLineWidth = 2;
                    break;
                case "three":
                    selectedLineWidth = 6;
                    break;
                case "four":
                    selectedLineWidth = 10;
                    break;
            }
        }
    
        function draw() {
            ctx.beginPath();
            ctx.moveTo(prevX, prevY);
            ctx.lineTo(currX, currY);
            ctx.strokeStyle = selectedColor;
            ctx.lineWidth = selectedLineWidth;
            ctx.stroke();
            ctx.closePath();
        }
    
        function erase() {
            var m = confirm("Суретті өшіргіңіз келеді ме?");
            if (m) {
                ctx.clearRect(0, 0, w, h);
                document.getElementById("canvasimg").style.display = "none";
            }
        }
    
        function findxy(e) {
            if (e.type == 'mousedown') {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.getBoundingClientRect().left;
                currY = e.clientY - canvas.getBoundingClientRect().top;
    
                flag = true;
                dot_flag = true;
                if (dot_flag) {
                    ctx.beginPath();
                    ctx.fillStyle = selectedColor;
                    ctx.fillRect(currX, currY, 2, 2);
                    ctx.closePath();
                    dot_flag = false;
                }
            }
            if (e.type == 'mouseup' || e.type == "mouseout") {
                flag = false;
            }
            if (e.type == 'mousemove') {
                if (flag) {
                    prevX = currX;
                    prevY = currY;
                    currX = e.clientX - canvas.getBoundingClientRect().left;
                    currY = e.clientY - canvas.getBoundingClientRect().top;
                    draw();
                }
            }
        }
        function openClsIns() {
            document.getElementById("cls-ins").style.display = "block";
        }
    
        function closeClsIns() {
            document.getElementById("cls-ins").style.display = "none";
        }
        </script>

{% endblock %}